@page "/hofliste"
@page "/hofliste/{Abfrage}"

@using Microsoft.EntityFrameworkCore
@using Radzen
@using Radzen.Blazor
@using ZakDAK.Data
@using ZakDAK.Connection.DPE
@using ZakDAK.Entities.DPE
@using Serilog;
@using Utils;

<h1>Hofliste</h1>
<BlazorTimer Seconds="@PollSeconds" Callback="Poll"></BlazorTimer>
<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Order" Click="@InsertRow" Disabled=@(vorfToInsert != null) />
<RadzenDataGrid @ref="vorfGrid" 
        AllowFiltering="false" 
        AllowPaging="false" PageSize="@pagesize"
        Count="@count" LoadData="@LoadData" IsLoading=@isLoading 
        AllowVirtualization="false"
                Style="height:50vh; "
        SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedVORF
        AllowSorting="true"  AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" Sort="@OnSort"
    EditMode="DataGridEditMode.Single"
    Data="@vorf_tbl" 
    TItem="VORF" 
    RowUpdate="@OnUpdateRow" 
    RowCreate="@OnCreateRow">
    <Columns>
        @foreach (var col in lnav.Columnlist.SortedColumns)
        {
            <RadzenDataGridColumn TItem="VORF" Property="@col.Fieldname" Title="@col.DisplayLabel" Width="@col.WidthPx" Visible="@col.IsVisible"
                              SortOrder="@col.SortOrder" />
        }
        <RadzenDataGridColumn TItem="VORF" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
            <Template Context="vorf">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@(args => EditRow(vorf))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="vorf">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(vorf))">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(vorf))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="VORF" Context="VORF" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
            <Template Context="vorf">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(vorf))"  @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="vorf">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(vorf))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


